<script>
    // Render the calendar
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {

            /* Calendar configuration starts here */

            // General
            initialView: 'listWeek',
            themeSystem: 'bootstrap',
            editable: true,
            headerToolbar: { 
                start: 'title',
                center: 'dayGridMonth,listWeek',
                end: 'today prev,next' },

            // Date navigation
            navLinks: true,

            // Events
            eventStartEditable: true,
            eventResizableFromStart: true,

            // Fictitious events
            events: [
                {
                    title: 'Meeting',
                    start: '2022-01-18T14:30:00',
                    extendedProps: {
                        status: 'done'
                    }
                },
                {
                    title: 'Birthday Party',
                    start: '2022-01-18T07:00:00',
                    backgroundColor: 'green',
                    borderColor: 'green'
                }
            ],
        });
        calendar.render();
    });
</script>