<script>



    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'listWeek',
            events: [
                {
                    title: 'Meeting',
                    start: '2022-01-18T14:30:00',
                    extendedProps: {
                        status: 'done'
                    }
                },
                {
                    title: 'Birthday Party',
                    start: '2022-01-18T07:00:00',
                    backgroundColor: 'green',
                    borderColor: 'green'
                }
            ],
        });
        calendar.render();
    });
</script>