<script>

    // Get today's date
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = yyyy + '/' + mm + '/' + dd;

    // Render the calendar
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {

            /* Calendar configuration starts here */

            // General
            initialView: 'listWeek',
            themeSystem: 'bootstrap',

            // Events
            events: [
                {
                    title: 'Meeting',
                    start: today + 'T14:30:00',
                    extendedProps: {
                        status: 'done'
                    }
                },
                {
                    title: 'Birthday Party',
                    start: today + 'T07:00:00',
                    backgroundColor: 'green',
                    borderColor: 'green'
                }
            ],
        });
        calendar.render();
    });
</script>