<!-- Customer detail -->
{% extends 'hotline/home.html' %}

{% block content %}

<h3>Logo</h3>

<h1>{{ my_customer.name }}</h1>

<h2>Contratti attivi al {{ current_year }}:
    {% if my_customer.sw_contract == True %}
    <span class="badge bg-primary">SW</span>
    {% endif %}
    {% if my_customer.hw_contract == True %}
    <span class="badge bg-secondary">HW</span>
    {% endif %}
</h2>

<h5>Dettagli</h5>
<h5>Dati anagrafici</h5>
<p>Localizzazione</p>
<h6>Richiedi modifica</h6>

<h5>Licenza</h5>

<h5>Risorse</h5>
<h6>VPN e collegamenti</h6>

<h3>Ultimi ticket</h3>
{% include 'hotline/ticket_table.html' %}

<h3>Progetti in corso</h3>

<h3>Commesse di sviluppo</h3>

<a href="{% url 'home' %}">Indietro</a>

{% endblock %}