{% extends 'hotline/home.html' %}

{% block content %}

<h3>Customers</h3>

<a href="{% url 'new_customer' %}" class="btn btn-info btn-lg"><h3>New customer</h3></a>

<!-- Search -->
<input type="text" id="SearchInput" onkeyup="filterTable()" placeholder="Cerca..." title="Type in a name">

<h5>Filter active contracts</h5>

<!-- Customer table ---->
<table id="searchableTable" class="table table-responsive table-hover">
    <thead class="thead dark">
        <tr>
            <th scope="col">Customer</th>
            <th scope="col">Reference</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Open tickets</th>
            <th scope="col"><!--Modifica--></th>
            <th scope="col"><!--Cancella--></th>            
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td><a href="{% url 'customer_detail' customer.id %}">{{customer.name}}</a>
                {% if customer.sw_contract == True %}
                <span class="badge rounded-pill bg-primary">SW</span>
                {% endif %}
                {% if customer.hw_contract == True %}
                <span class="badge rounded-pill bg-secondary">HW</span>
                {% endif %}            
            </td>
            <td>{{customer.reference}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.ticket_set.count}}</td>
            <td><a href="{% url 'update_customer' customer.id %}"><span class="btn btn-warning"><i class="bi bi-pen"></i></span></a></td>
            <td><span class="btn btn-danger"><i class="bi bi-trash"></i></span></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
