<!-- Customer detail -->
{% extends 'hotline/home.html' %}

{% block content %}

<a href="{% url 'customer_list' %}">All customers</a>

<h3>Logo</h3>

<a href="{% url 'update_customer' my_customer.id %}"><span class="btn btn-warning"><i class="bi bi-pen"></i></span></a> <a href="#">Delete</a>

<h1>{{ my_customer.name }}</h1>
<ul>
    <li><b>Reference:</b> {{ my_customer.reference }} ( {{ my_customer.reference_phone }} ) ( {{ my_customer.reference_email }} )</li>
    <li><b>Address:</b> {{ my_customer.address }}</li>
    <li><b>Phone:</b> {{ my_customer.phone }}</li>
</ul>

<h2>Active contracts in {{ current_year }}:
    {% if my_customer.sw_contract == True %}
    <span class="badge bg-primary">SW</span>
    {% endif %}
    {% if my_customer.hw_contract == True %}
    <span class="badge bg-secondary">HW</span>
    {% endif %}
</h2>
<h6><a href="#">Past contracts</a></h6>

<h5><a href="#">License</a></h5>

<h5>Resources</h5>
<h6>VPN and connections</h6>

<h3>Last tickets</h3>
{% include 'hotline/ticket_table.html' with total_amount=total_amount %}

<h3>Operational projects</h3>

<h3>Development projects</h3>

{% endblock %}