{% extends 'hotline/home.html' %}

{% block content %}

<h3>Clienti</h3>

<a href="{% url 'new_customer' %}" class="btn btn-info btn-lg"><h3>Crea cliente</h3></a>

<h4>Cerca per ragione sociale</h4>

<h5>Cerca per qualsiasi stringa</h5>
<h5>Filtra per contratti attivi</h5>

<!-- Customer table ---->
<table class="table table-responsive">
    <thead class="thead dark">
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Riferimento</th>
            <th scope="col">Indirizzo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Ticket aperti</th>
            <th scope="col"><!--Modifica--></th>
            <th scope="col"><!--Cancella--></th>            
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td><a href="{% url 'customer_detail' customer.id %}">{{customer.name}}</a>
                {% if customer.sw_contract == True %}
                <span class="badge rounded-pill bg-primary">SW</span>
                {% endif %}
                {% if customer.hw_contract == True %}
                <span class="badge rounded-pill bg-secondary">HW</span>
                {% endif %}            
            </td>
            <td>{{customer.reference}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.ticket_set.count}}</td>
            <td><span class="btn btn-warning"><i class="bi bi-pen"></i></span></td>
            <td><span class="btn btn-danger"><i class="bi bi-trash"></i></span></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'home' %}">Indietro</a>

{% endblock %}
