{% extends 'hotline/home.html' %}

{% block content %}

<h2>Dashboard</h2>

<div class="card">
    <div class="card-body">
        <a href="{% url 'new_ticket' %}" class="btn btn-success btn-lg">
            <h3>Crea ticket</h3>
        </a>
    </div>
</div>

</br>

<div class="card">
    <div class="card-title">
        <h3>Ultimi ticket</h3>
    </div>
    <div class="card-body">
        {% include 'hotline/ticket_table.html' %}
    </div>
</div>

<h3>Cerca cliente</h3>

<h3>Statistiche</h3>

<h4>Tempistiche medie</h4>


{% endblock %}