{% extends 'hotline/home.html' %}

{% block content %}

<h2>Dashboard</h2>

<div class="row">
    <div class="col">
        <a href="{% url 'new_ticket' %}" class="btn btn-success btn-lg">
            <h4>New ticket</h4>
        </a>
        <a href="{% url 'customer_list' %}" class="btn btn-info btn-lg">
            <h4>Search customer</h4>
        </a>
    </div>
</div>

</br>

<div class="row">

    <!-- Table -->
    <div class="col-8">
        <div class="card-title" style="text-align:center;">
            <h4>Last 5 tickets</h4>
        </div>
        <div class="card-body">
            {% include 'hotline/ticket_table.html' %}
        </div>
    </div>

    <!-- Stats -->
    <div class="col-4">
        <div class="card-title" style="text-align:center;">
            <h4>Statistics</h4>
        </div>
        <div class="card-body">
            {% if no_tickets %}
            <h5 style="color: grey;">No tickets</h5>
            {% else %}
            <!-- First chart -->
            <div style="position: relative;">
                <canvas id="ticketPieChart"></canvas>
            </div>
            <!-- Second chart -->
            <div style="position: relative;">
                <canvas id="LineChart"></canvas>
            </div>
            <!-- Third chart -->
            <div style="position: relative;">
                <canvas id="RadarChart"></canvas>
            </div>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}