<!-- Just a confirmation page -->

{% block content %}
        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <p>Are you sure you want to delete {{object}} ?</p>
                    <!-- TODO: Still working only on tickets, generalize delete form -->
                    <form action="{% url 'delete' object.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-warning"><a data-bs-dismiss="modal" href="{% url 'home' %}">No, leave</a></button>
                        <button type="submit" class="btn btn-danger">Yes, proceed</button>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}