{% extends 'hotline/home.html' %}

{% block content %}

<h3>New product</h3>

<form action="#" method="post">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Model form -->
    <ul>
        <li><b>Full name:</b>{{ new_product_form.name }}</li>
        <li><b>Department:</b>{{ new_product_form.department_id }}</li>
        <li><b>Description:</b>{{ new_product_form.description }}</li>
    </ul>
    
    <!-- Submit -->
    <input type="submit" class="btn btn-primary"></button>

</form>

{% endblock %}