{% extends 'hotline/home.html' %}

{% block content %}

<h3>New technician</h3>

<form action="#" method="post">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Model form -->
    <ul>
        <li><b>First name:</b>{{ new_technician_form.first_name }}</li>
        <li><b>Last name:</b>{{ new_technician_form.last_name }}</li>
        <li><b>Phone:</b>{{ new_technician_form.office_phone }}</li>
        <li><b>Mobile:</b>{{ new_technician_form.mobile_phone }}</li>
        <li><b>Email:</b>{{ new_technician_form.email }}</li>
        <li><b>Department:</b>{{ new_technician_form.department_id }}</li>
    </ul>
    
    <!-- Submit -->
    <input type="submit" class="btn btn-primary"></button>

</form>

{% endblock %}