{% extends 'hotline/home.html' %}

{% block content %}

<h3>New ticket</h3>

<form action="#" method="post">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Model form -->
    <ul>
        <li><b>Customer:</b>{{ new_ticket_form.customer_id }}</li>
        <li><b>Technician:</b>{{ new_ticket_form.technician_id }}</li>
        <li><b>Products:</b>{{ new_ticket_form.products }}</li>
        <li><b>Title:</b>{{ new_ticket_form.title }}</li>
        <li><b>Description:</b>{{ new_ticket_form.notes }}</li>
        <li><b>Duration:</b>{{ new_ticket_form.duration }}</li>
        <li><b>Status:</b>{{ new_ticket_form.status_id }}</li>
        <li><b>Priority:</b>{{ new_ticket_form.priority_id }}</li>
        <li><b>Order number:</b>{{ new_ticket_form.order_number }}</li>
    </ul>
    
    <!-- Submit -->
    <input type="submit" class="btn btn-primary"></button>

</form>

{% endblock %}