{% extends 'hotline/home.html' %}

{% block content %}

<h3>New cliente</h3>

<form action="#" method="post">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Model form -->
    <h6><b>Details:</b></h6>
    <ul>
        <li><b>Full name:</b>{{ new_customer_form.name }}</li>
        <li><b>Address:</b>{{ new_customer_form.address }}</li>
        <li><b>Phone:</b>{{ new_customer_form.phone }}</li>
        <li><b>Software maintenance contract:</b>{{ new_customer_form.sw_contract }}</li>
        <li><b>Hardware maintenance contract:</b>{{ new_customer_form.hw_contract }}</li>
    </ul>
    <h6><b>Reference:</b></h6>
    <ul>
        <li><b>Full Name:</b>{{ new_customer_form.reference }}</li>
        <li><b>Phone:</b>{{ new_customer_form.reference_phone }}</li>
        <li><b>Email:</b>{{ new_customer_form.reference_email }}</li>
    </ul>
    
    <!-- Submit -->
    <input type="submit" class="btn btn-primary"></button>

</form>


{% endblock %}