{% extends 'hotline/home.html' %}

{% block content %}

<h3>Prodotti</h3>

<a href="{% url 'new_product' %}" class="btn btn-info btn-lg"><h3>Crea prodotto</h3></a>

<h4>Cerca per dipartimento</h4>

<!-- Search -->
<h4>Cerca tra tutti i prodotti</h4>
<input type="text" id="SearchInput" onkeyup="filterTable()" placeholder="Cerca su tutti i campi..." title="Type in a name">


<!-- Product table ---->
<table id="searchableTable" class="table table-responsive table-hover">
    <thead class="thead dark">
        <tr>
            <th scope="col">Nome completo</th>
            <th scope="col">Dipartimento</th>
            <th scope="col"><!--Modifica--></th>
            <th scope="col"><!--Cancella--></th>            
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td><a href="{% url 'product_detail' product.id %}">{{product.name}}</a></td>
            <td>{{product.department_id}}</td>
            <td><a href="#"><span class="badge bg-warning"><i class="bi bi-pen"></i></span></a></td>
            <td><a href="#"><span class="badge bg-danger"><i class="bi bi-trash"></i></span></a></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
