<!-- Customer detail -->
{% extends 'hotline/home.html' %}

{% block content %}

<a href="{% url 'technician_list' %}">All technicians</a>

<h2>{{ my_technician.first_name }} {{ my_technician.last_name }}</h2>

<a href="#"><span class="btn btn-warning"><i class="bi bi-pen"></i></span></a> <a href="#">Delete</a>

<h5>Details</h5>
<ul>
    <li><b>E-mail:</b> {{ my_technician.email }}</li>
    <li><b>Phone:</b> {{ my_technician.office_phone }}</li>
    <li><b>Mobile:</b> {{ my_technician.mobile_phone }}</li>
</ul>

<h3>Last ticket handled by {{ my_technician.first_name }}</h3>
{% include 'hotline/ticket_table.html' with total_amount=total_amount %}

{% endblock %}