{% extends 'hotline/home.html' %}

{% block content %}

<h3>Technicians</h3>

<a href="{% url 'new_technician' %}" class="btn btn-info btn-lg"><h3>New technician</h3></a>

<h4>Search department</h4>

<!-- Search -->
<h4>Search technician</h4>
<input type="text" id="SearchInput" onkeyup="filterTable()" placeholder="Search..." title="Type in a name">

<!-- Customer table ---->
<table id="searchableTable" class="table table-responsive table-hover">
    <thead class="thead dark">
        <tr>
            <th scope="col">Full name</th>
            <th scope="col">Department</th>
            <th scope="col">Phone</th>
            <th scope="col">Mobile</th>
            <th scope="col">Email</th>
            <th scope="col"><!--Modifica--></th>
            <th scope="col"><!--Cancella--></th>            
        </tr>
    </thead>
    <tbody>
        {% for technician in technicians %}
        <tr>
            <td><a href="{% url 'technician_detail' technician.id %}">{{technician.first_name}} {{technician.last_name}}</a></td>
            <td>{{technician.department_id}}</td>
            <td>{{technician.office_phone}}</td>
            <td>{{technician.mobile_phone}}</td>
            <td>{{technician.email}}</td>
            <td><a href="#"><span class="badge bg-warning"><i class="bi bi-pen"></i></span></a></td>
            <td><a href="#"><span class="badge bg-danger"><i class="bi bi-trash"></i></span></a></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
