<!-- Customer detail -->
{% extends 'hotline/home.html' %}

{% block content %}

<a href="#">All tickets</a>

<br>

<!-- Header -->
<h2>{{ my_ticket.title }} <span class="badge rounded-pill {{my_ticket.status_id.color}}">{{my_ticket.status_id}}</span> </h2>
<h4>for <a href="{% url 'customer_detail' my_ticket.customer_id.id %}">{{ my_ticket.customer_id }}</a></h4>
<h5>Performed by <a href="{% url 'technician_detail' my_ticket.technician_id.id %}">{{ my_ticket.technician_id.first_name }} {{ my_ticket.technician_id.last_name }}</a></h5>

<h3><a href="#"><span class="btn btn-warning"><i class="bi bi-pen"></i></span></a></h3>
<h3><a href="#"><span class="btn btn-danger"><i class="bi bi-trash"></i></span></a></h3>

<!-- Details -->
<p><b>Duration:</b> {{ my_ticket.duration }} minutes</p> 
<p><b>Created at:</b>{{ my_ticket.created_at }}</p>
<p><b>Updated at:</b>{{ my_ticket.updated_at }}</p>

<h6>Details:</h6>
<p>{{ my_ticket.notes }}</p>

<h6>Products:</h6>
{% for product in my_ticket.products.all %}
    <p><span class="badge rounded-pill bg-secondary">{{ product.department_id }}</span> <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></p>
{% endfor %}

{% endblock %}