<!-- Ticket table ---->

<table class="table table-responsive">
    <thead class="thead dark">
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Ultimo aggiornamento</th>
            <th scope="col">Tecnico</th>
            <th scope="col">Durata [min]</th>
            <th scope="col">Stato</th>
            <th scope="col">Priorità</th>
            <th scope="col"><!--Modifica--></th>
            <th scope="col"><!--Cancella--></th>            
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td><a href="{% url 'customer_detail' ticket.customer_id.id %}">{{ticket.customer_id}}</a>
                {% if ticket.customer_id.sw_contract == True %}
                <span class="badge rounded-pill bg-primary">SW</span>
                {% endif %}
                {% if ticket.customer_id.hw_contract == True %}
                <span class="badge rounded-pill bg-secondary">HW</span>
                {% endif %}
            </td>
            <td>{{ticket.updated_at|date:"d-m-Y H:m"}}</td>
            <td><a href="{% url 'technician_detail' ticket.technician_id.id %}">
                {{ticket.technician_id}}</a></td>
            <td>{{ticket.duration}}</td>
            <td>{{ticket.status_id}}</td>
            <td>{{ticket.priority_id}}</td>
            <td><a href="#"><span class="btn btn-warning"><b>Modifica</b></span></a></td>
            <td><a href="#"><span class="btn btn-danger"><b>Cancella</b></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>